.sign-up-form{
    width : 35%;
    background-color: rgba(196, 189, 189, 0.5);
    padding: 2rem;
    height:auto ;
    margin-top: 2rem;
}
.signuppage{
    margin-top: 3rem;
    font-family:  sans-serif;
}
#signuptitle{
    font-family: 'Acme';
    border-bottom: 2px solid snow;
}