#helpparts a{
  display: inline-block;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color : black;
  border: 2px solid black;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 120%;
}
#helpparts{
  margin: 2rem
}
#recommended{
  margin: 2rem
}
#profilepage{
  font-family: sans-serif;
}
#helptitle, #recommendedtitle, #prevtitle, #nexttitle{
  font-family: 'Acme';
}
#recommended #destimg{
  height: 150px;;
}