#multileaving{
  margin-left: 3rem;
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 0.5rem;

}

#multigoing{
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
#multifromdate{
  margin-right: 40rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
#multisearch{
  margin-left: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
